/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: lightgrey;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.header .cursive {
  font-family: damion;
  color: white;
  text-align: center;
}

.striking {
  font-family: rubik;
  font-size: 3.125rem;
  line-height: 1.4;
  margin-bottom: .75rem;
  color: white;
  text-align: center;
}

.email span {
  font-family: roboto;
  font-size: 1.25rem;
  line-height: 1.4;
}
.email span strong {
  font-weight: bold;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  width: 25.5rem;
  color: white;
  margin-top: 1.625rem;
  margin-bottom: 2rem;
  font-family: roboto;
  font-weight: medium;
  font-size: 1.25rem;
  line-height: 1.4;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 5.3125rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 10;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
  font-family: roboto;
  line-height: 1.6;
  font-size: 1rem;
}

header .logo {
  flex: 1;
  line-height: 1.6;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

header .desktop .button {
  display: none;
}



/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 43.5rem;
  background-color: white;
  background-image: url("../../resources/images/banner-landingpage.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin: 10.625rem 0rem 10.625rem 6.25rem;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}
 /* Features Section */

#features-section {
  /*width: 100%;*/
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.feature .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  height: 39.6875rem;
  width: 80%;
}

/*.feature .center1 {
  margin-right: 2.375rem;
}*/

.image-container1 {
  width: 90%;
  height: 65%;
  margin: 2rem 2rem 2.5rem 2rem;
  background-image: url("../../resources/images/feature-1.png");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.image-container2 {
  width: 90%;
  height: 65%;
  margin: 2rem 2rem 2.5rem 2rem;
  background-image: url("../../resources/images/feature-2.png");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content h2 {
  font-family: roboto;
  font-weight: bold;
  font-size: 2.25rem;
  color: #4A4A4A;
  line-height: 1.2;
}

.content h3 {
  font-family: roboto;
  font-weight: 300;
  font-size: 1rem;
  color: #4A4A4A;
  line-height: 1.2;
  margin: 1rem 3rem 0rem 3rem;
}

/* Filters Section */

#filters-section {
  background-color: #4a4a4a;
  margin-top: 2.875rem;
  /*max-width: 100%;
  height: 100%;*/
}

.lower h2 {
  color: white;
  opacity: 100%;
  font-size: 2.25rem;
  font-family: roboto;
  font-weight: bold;
  padding-top: 4rem;
  text-align: center;
}

.lower h3 {
  color: white;
  font-size: 1rem;
  font-family: roboto;
  font-weight: 300rem;
  padding-bottom: 5rem;
  text-align: center;
}

.images-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
  /*padding-bottom: 4rem;*/
}

.image-container3 {
  max-width: 25%;
  max-height: 100%;
  padding-bottom: 4rem;
  display: block;
}

/* Quotes Section */

.quote {
  font-family: Palatino;
  line-height: 1.1;
  font-size: 1.875rem;
  color: #4a4a4a;
  display: inline-block;
  padding: 5rem 1.875rem 5rem 0rem;
}

em {
  font-style: italic;
}

.quote-citation {
  display: inline-block;
}

/* Footer section */
footer .content {
  background-color: #9b9b9b;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.875rem;
  justify-content: space-between;
}

footer .content span {
  color: white;
  font-size: .75rem;
  font-family: roboto;
  margin: 0rem 2rem;
}

@media only screen and (max-width: 1080px) {

 #sign-up-cta .email, #sign-up-cta .button {
    display: none;
  }

  #sign-up-cta {
    z-index: 0;

  }

  #sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20.5rem;
    background-color: white;
    background-image: url("../../resources/images/banner-landingpage.jpg");
    z-index: 2;
  }

  .header .cursive {
    font-family: damion;
    color: white;
    z-index: 5;
  }

  .striking {
    font-family: rubik;
    font-size: 3.125rem;
    line-height: 1.4;
    margin-bottom: .75rem;
    color: white;
    text-align: center;
    z-index: 5;
  }

  header .content {
    align-items: flex-start;
  }

  header .desktop .button {
    display: inline-block;
  }

  header .desktop .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
    text-align: center;
    display: inline-block;
    width: 5.3125rem;
    margin-top: -.5rem;
  }

/* Features section */

  .feature .center {
    align-items: flex-start;
    height: auto;
    /*height: 39.6875rem;*/
    width: 100%;
  }

  .image-container1 {
    width: 100%;
    height: 100%;
    margin: 2rem 2rem 1rem 2rem;
    background-image: url("../../resources/images/feature-1.png");
  }

  .image-container2 {
    width: 100%;
    height: 100%;
    margin: 2rem 2rem 1rem 2rem;
  }

.content h2 {
    font-size: .5rem;
    color: #4A4A4A;
    line-height: 1;
    text-align: left;
    padding: 0rem 1rem;
  }

.content h3 {
    font-size: .75rem;
    padding: 0rem 1rem;
    text-align: left;
    margin: 0rem -4rem;
  }

}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header {
  height: 3rem;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}
